<h1>Book Shelf</h1>
<a href='/books/new'>add new book</a>
<div>
{{#each books}}
<div>
    <img src={{this.image}} alt={{this.title}}/>
    <h3>{{this.title}}</h3>
    <p>{{this.author}}</p>
    <a href='/books/{{this.title}}'>See More</a>
</div>
{{/each}}
</div>