<img src={{image}} alt={{title}} />
<h1>header {{title}}</h1>
<p>para {{author}}</p>
<p>para {{category}}</p>
<p>para {{summary}}</p>
<a href="/books/{{title}}/edit">edit</a>
<a href="/books">go back home</a>